<!-- Main Content -->
<div class="container">
  
  <div class="row">
    <img src="<%= asset_path "fishing-view2.jpg" %>" alt="" width="100%" height="500" />
    <h2>釣り日記βでできること</h2>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>釣りに必要な情報を入力できます</p>
      <p>釣った魚の写真と釣果の情報を関連付けつけることができます</p>
      <p>場所や魚の名前で釣り日記を検索できます</p>
      <p>お気に入りの日記を登録して自分のマイページで見ることができます</p>
      
      
    </div>
  </div>
</div>
